#firstPass{
    vertical-align: 20px;
    margin-left: 50px;
}

#pseudo{
    width: 500px;
    height: 400px;
    padding: 0px 0px 20px 100px ;
}

#gif{
    padding-left: 100px;
    width: 600px;  
    height: 200px;  
}

#example{
    width: 500px;
    border: 3px solid black;
    margin-left: 50px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-align: center;
    vertical-align: 80px;
}


